
:root {
    --padding-100: 6px;
    --padding-200: 12px;
    --padding-300: 18px;
    --padding-400: 24px;

    --btm-blue-100: #0d3c8c;
    --btm-accent-100: #b20025;
    --btm-footer-100: #38323c;
    --btm-white-100: #ffffff;
    --btm-white-200: #f2f2f2;
    --btm-white-300: #ededed;
    --btm-placeholder: #a5a5ad;   

    --btm-io-warning: #fda53a;
    --btm-io-info: #9ce0ff; 

    --btm-quiz-option: #0d3c8c;
    --btm-quiz-chosen: #ff9900;
    --btm-quiz-correct: #2a972f;
    

    --btm-transition-100: .25s;
    --btm-transition-200: .5s;

    --btm-radius-100: 6px;
    --btm-radius-200: 12px;
    --btm-radius-999: 100px;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: Quicksand, sans-serif;
    background-color:#212121;
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    padding:0;
    margin:0;  
    height:100vh;
    user-select: none;
}


h1, h2,h3, h4, h4, h5,h6{
    font-family: 'Quicksand', sans-serif;
    line-height:1.4;
    letter-spacing: -1px;
}

p, li{
    font-family: 'Roboto', sans-serif;
    line-height:1.4;
    font-size:13px;
}

::-ms-input-placeholder { /* Edge 12-18 */
  color: var(--btm-placeholder);
}

::placeholder {
  color: var(--btm-placeholder);
}
/* Updated styles  */

.wrapper{
  display:flex;
  flex: 1 1 auto;
  flex-direction: column;
  height:100vh;
  height:100dvh;

}

.header{
  top: 0;
  display:flex;
  justify-content: space-between;
  padding: var(--padding-100) var(--padding-300);
  position: sticky;
  z-index:100;
  color:#fff;
  background-color:var(--btm-blue-100);
  border-bottom:solid 1px rgba(55, 55, 55, .1)
}

.title-section{
  background-color:var(--btm-blue-100);
  background-image: linear-gradient(to right, #051937, #03224b, #032a60, #053376, #0d3c8c);
  padding: var(--padding-100) var(--padding-300) var(--padding-200) var(--padding-300);
}

.inner{
  flex-grow:1
}

.inner-spaced{
  padding-left:var(--padding-300);
  padding-right: var(--padding-300);
}

.inner-full{
  padding-left:0;
  padding-right:0;
}

.footer{
  background-color: var(--btm-footer-100);
  z-index: 50;
  padding: var(--padding-100) var(--padding-200);
  flex-direction: column;
  position: sticky;
  bottom: 0;
}

.content{
  margin:0;
  padding:0;
}

.content p{
  font-size:1rem;
  line-height: 1.4rem;
  padding:0;
}

.inner-full .hero-image{
  height:200px;
}

.hero-image{
  width:100%;
}

.hero-section-dec:after{

}


.title{
  color: #fff;
  font-weight: 600;
  font-size: 19px;
  line-height: 1.3rem;
  letter-spacing: -.5px;
  padding-bottom: 0px;
}

.sub-title{
  font-weight:300;
  font-size:10px;
  padding: 0 0 3px 0;
  color:#c3c3c3;
}


#controls{
  position: fixed;
  top: 98px;
  right: 10px;
  margin:0;
  z-index:90;
}

#controls li{
  height:36px;
  width:36px;
  background-color: #254088;
  background-color:#fff;
  border-radius: 40px;
  padding: 5px;
  margin:0 0 16px 0;
  color: #254088;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#controls span{
  padding:0;
  margin:0;
}


/* camera */
#camera {
  position: absolute;
  top: 0;  
  bottom: 0;  
  height:100vh;
  width: 100%;
  border:solid 1px var(--btm-blue-100);
  transition: transform ease-in-out .4s;
  background-color:#fff;
  transform:translateX(-100vw);
  z-index:20;
}

#camera.cameraOpen{
  transform:translateX(0);
}

/* map */

#map {
  position:fixed;
  top: 0;  
  bottom: 0;  
  height:100vh;
  width: 100%;
  border:solid 1px var(--btm-blue-100);
  transition: transform ease-in-out .4s;
  background-color:#fff;
  transform:translateX(-100vw);
  z-index:20;
}

#map.mapOpen{
  transform:translateX(0);
}

.marker {
  background-image: url('../img/pin.svg');
  background-size: cover;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}


.io-box{
  padding:var(--padding-100);
  padding-left:var(--padding-200);
  border-radius: var(--btm-radius-200);
  margin-bottom: 1rem;
} 

.io-box p{ 
  font-size:14px;
  padding:0;
  margin:0;
}
.io-info{
  background-color: var(--btm-io-info)
}

.io-warning{
  background-color: var(--btm-io-warning);
}
.io-warning p{
  color: #000;
  font-weight:600;
}
.io-info:empty,
.io-warning:empty {
  display:none;
}


/* quiz */
.quiz{
  display: flex;
  flex-direction: column;
  background-color: var(--btm-white-300);
  margin-top: 12px;
  padding-top: 12px;
  padding-bottom: 24px;
  border-top: solid 1px #a5a5a5;
  
}

.q-title{
  font-size:12px;
  color:var(--btm-blue-100);
  padding-bottom:var(--padding-100);
}

.question{
  color:var(--btm-blue-100);
  font-family: Quicksand, sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.3rem;
  padding:0 0 var(--padding-200);
  margin:0;
}

.options{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 8px 8px; 
  grid-template-areas: 
    ". ."
    ". ."; 
  padding:0 0 24px;
}

.answer{
  align-content: normal;
  min-height: 72px;
  background-color: var(--btm-quiz-option);
  border-radius: 3px 7px 7px 7px;
  color: var(--btm-white-100);
  font-size: 15px;
  font-weight: 600;
  opacity: 0;
  transform: scale(0);
  padding: .5rem .5rem .5rem;
  transition: all .2s ease-in-out;
}
.answer span{
  position: absolute;
  left: 2px;
  top: 1px;
  font-weight:300;
  opacity:.5;
}

.answer-enable{
  animation: zoomIn .5s forwards;
}

.answer-selected{
  background-color: var(--btm-quiz-chosen);
  color:#000;
}

.hide{
  opacity: 0;
}
/* .answer .correct{
    background: linear-gradient(to left, #588901 50%, #0000 50%);
    background-size: 200% 120%;
    background-position: right bottom;
    transition: all .25s ease-out;
    color:#fff;
    font-weight:600;
    font-size:28px;
}

.answer .wrong{
    transition: all .95s ease-out;
    opacity:.35;
} */


/* .animation-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
} */

.animated-element {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 1);
  transform: translate(-50%, -50%);
  animation: growAnimation .5s ease-out forwards;
  border-radius:800px;
  z-index:200;
}

/* Dialogs */

dialog {
	position: fixed;
	top: 30%;
	left: 50%;
	right: auto;
  width:66%;
  height: 30vh;
  min-height: 30vh;
	padding: var(--padding-300);
	transform: perspective(500px) translate(-50%, -50%);
	/* background: linear-gradient(to bottom, #FFF, #F4F4F4) #FFF; */
	border: solid 2px #ffffff;
	border-radius: var(--btm-radius-200);
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
	text-align: center;
	transform-origin: 50% 50%;
	animation: dialog 300ms cubic-bezier(.3,0,.1,1.4) forwards 1;
	will-change: transform, opacity;
  background: #CFC9BD url(/assets/img/wap/pirate-ai.jpg) no-repeat;
  background-size: 140px;
  background-position: right bottom;
}

dialog .dialog-inner{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.button.dialog-button{
  padding:var(--padding-100) var(--padding-300);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.5);
}

@keyframes dialog {
	from {
		transform: perspective(500px) translate(-50%, -25%) rotateX(45deg) scale(0.1);
		opacity: 0;
	}
}

dialog::backdrop {
	opacity: 0;
	will-change: opacity;
	cursor: no-drop;
	background: radial-gradient(circle at center, rgba(50,50,50,0.2), rgba(0,0,0,0.95));
	animation: backdrop 500ms ease forwards 1;
}

@keyframes backdrop {
	from { opacity: 0; }
	to { opacity: 1; }
}



/* animations */
 
.ken-burns {
  overflow: hidden;
  width: 100%;
  height: 200px;
  position: relative;
}
 
.ken-burns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: kenBurnsAndSlide 12s ease-in-out;
}

@keyframes kenBurnsAndSlide {
  0% {
      transform: scale(1.08) translateX(15px);
  }
  100% {
      transform: scale(1) translateX(0);
  }
}

.move-line {
  width: 100%;
  height: 2px;
  
  position: relative;
  overflow: hidden;
}

.move-line::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--btm-io-info);
  left: -100%;
  animation: moveLine 3s ease-in-out;
}

@keyframes moveLine {
  0% {
      left: -100%;
  }
  100% {
      left: 100%;
  }
}


.time-bar {
  padding: 12px 0 12px 0;
  overflow: hidden;
}
.time-bar div {
  height: 3px;
  animation: roundtime calc(var(--duration) * 1s) steps(var(--duration))
    forwards;
  transform-origin: left center;
  background-color: #f00;
}

.time-bar[data-style="smooth"] div {
  animation: roundtime calc(var(--duration) * 1s) linear forwards;
}

.time-bar{
  animation: flashAnimation 0.5s infinite;
  animation-delay: 15s;
}

@keyframes roundtime {
  to {
    /* More performant than `width` */
    transform: scaleX(0);
  }
}

@keyframes flashAnimation {
  0%, 50%, 100% {
      opacity: 1;
  }
  25%, 75% {
      opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.answer:nth-child(1) {animation-delay: 0.2s;}
.answer:nth-child(2) {animation-delay: 0.3s;}
.answer:nth-child(3) {animation-delay: 0.4s;}
.answer:nth-child(4) {animation-delay: 0.5s;}


@keyframes growAnimation {
  0% {
      width: 0;
      height: 0;
  }
  60% {
    xbackground-color: rgba(0, 0, 255, 0.5);
  }
  100% {
    width: 800px;
    height: 800px;
    xbackground-color: rgba(255, 255, 255);     
  }
}



.no-bars::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-bars {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


  .material-icons.md-light { color: rgba(255, 0, 0, 0.54); }



/* Fade out */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0; /* Initially invisible */
  transition: opacity 0.5s ease; /* Transition for fade effect */
  z-index: 9999; /* Ensure it's on top of everything */
}



/* Audio controls */
.audio-wrap{
  display:flex;
  flex-direction: row;
  align-items: center;
}


.directions-wrap{
  display:flex;
  flex-direction: row;
  align-items: center;
  display:none;
}

.audio-cntr{
  flex-grow: 0;
  margin-right: 12px;
}

.audio-cntr audio{
  height:34px;  
  width: calc(100vw - 90px);
}

.dr-green{
  flex-shrink: 0;
  height:72px;
  width:72px;
  z-index:9;
}

.dr-green img{
  width:72px;
  height:72px;
}


.drawer-container {
    position: fixed;
    top: 0;
    left: -300px; /* Adjust the initial position as needed */
    width: 260px; /* Adjust the width as needed */
    height: 100%;
    background-color: #121212;
    color: #fff;
    transition: left 0.3s ease-in-out;
    z-index: 50;
}

.drawer-content {
    padding: 20px;
}

.drawer-content h2{
    color: var(--btm-blue-100);
}

.drawer-content p{
    color:#f8f8f8;
    font-size:14px;
}

.drawer-item a{
    color:#ffffff;
}

.drawer-item a:hover{
    color:var(--btm-accent-100);
}


.drawer-content .drawer-item{
    display:flex;
    flex-direction: row;
    align-items: center;
    font-size:14px;
}

.drawer-item .material-icons{
    font-size:18px;
    margin-right:var(--padding-300);
}
                
.drawer-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}
.drawer-button-dark {
  color: #000;
}


/* Styling for the button that opens the drawer */
.open-drawer-button {
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    background-color: #fff;
    padding: 10px 12px;
    border-radius: 60px;
}

/* Transition for the drawer open/close */
.drawer-container.open {
    left: 0;
}


/* choc buttons */
.chocs{
    position:fixed;
    top:64px;
    right:8px;
    display:flex;
    flex-direction: column;
    justify-content:right;
    align-items: flex-end;
    column-gap: 12px;
    row-gap:12px;
    z-index:20;
    display:none;
}

.choc{
    display:flex;
    justify-content:center;
    align-items: center;
    background-color:var(--btm-blue-100);
    border-radius:12px;
    color:#fff;
    padding: var(--padding-100);  
    transition: all ease-in-out var(--btm-transition-200);  
}

.choc:hover{
    cursor:pointer;
    background-color:var(--btm-accent-100);
}




/* footer controls */
/* Create a container for the sticky div */
.sticky-container-bottom {
    background-color: #333;
    position: relative;
    position: sticky;
    bottom: 0;
    z-index: 50;
}

.sticky-container-top {
    background-color: #ffffff;
    position: absolute;
    position: sticky;
    top: 0;
    z-index: 10;
}

.control-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-200);
}

.control{
    display:flex;
    text-align:center;
    flex-direction:column;
    align-items: center;
    color:#f2f2f2;
    font-size:14px;
}
.control:hover{
    color:#7d72f5;
    cursor:pointer;
}
.control p{
    text-align:center;
    font-size:9px;
    color:#f2f2f2;
}
.control-top{
    color:#626262;
}

.feature-bg{
    background-image: linear-gradient(to right, #051937, #03224b, #032a60, #053376, #0d3c8c);
    color:#fff;
}




 /* thumb */

.thumb{
    position: fixed;
    left: 88%;
    top: 12%;
    width: 60px;
    height: 32px;
    border-radius:50px;
    border:solid 2px var(--btm-blue-100);
    background-color:#fff;
}


/* introduction */

.intro-video{
    filter:grayscale(90%);
}

.intro-box{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    width:80%;
    transform: translateX(-50%) translateY(-50%);
}

.splash-intro-box{
  width:90%;
}

.spacer{
    padding: var(--padding-200);
}

.intro-box-item{
    display:flex;
    flex-direction: column;
    background-color:#fff;
    width: 100%;
    min-height: 20%;
    border-radius:12px;
    padding: var(--padding-100) var(--padding-200) var(--padding-300);
    justify-content: center;
    align-items: center;
    transition: all ease-in-out var(--btm-transition-200);
}

.fade-out{
  opacity:0;
}


.back-button{
  margin-top:24px;
  width:100%;
  text-align: center;
}

.back-button a{
  font-size:14px;
  color:var(--btm-white-200);
}

.grunge-100{
    background-image: url(../img/texture-200.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center center;
}


.intro-box-item h3{
    margin-bottom:0;
    color: #727272;
    letter-spacing: 2px;
    padding:0;
}
.intro-box-item h2{
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    line-height: 1;
    margin-bottom: 0;
    text-transform: uppercase;
    color: var(--btm-blue-100);
    padding: 0;
    margin-top: 0;
}
.intro-box-item p{
    text-align:center;
    font-size:13px;
    line-height:1.4;
}

.button{
  border-radius:var(--btm-radius-999);
  border:none;          
  background-color: #7faaf3;
  padding:var(--padding-100);
  color:#000;
  text-decoration: none;
  font-weight:600;
  letter-spacing: .5px;
  text-transform: uppercase;transition:all ease-in-out var(--btm-transition-100);
}
.button:hover{
  cursor: pointer;
  background-color: var(--btm-accent-100);
  background-color: #fff;
}
  
.button-100{
  font-size:16px;
  padding:var(--padding-100);
}

.button-200{
    font-size:18px;
    padding:var(--padding-200);
}





.bg-gradient:after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow:hidden;
    content: '';
    background: hsla(0, 0%, 0%, 1);
    background: radial-gradient(circle, hsla(0, 0%, 0%, .015) 0%, hsla(0, 0%, 0%, 1) 100%);
    background: -moz-radial-gradient(circle, hsla(0, 0%, 0%, .015) 0%, hsla(0, 0%, 0%, 1) 100%);
    background: -webkit-radial-gradient(circle, hsla(0, 0%, 0%, .015) 0%, hsla(0, 0%, 0%, 1) 100%);   
}

.bg-gradient-2:after{
  position: absolute;
  top: 0;
  left: 0;
  z-index:-50;
  width: 100%;
  height: 100%;
  content: '';
overflow:hidden;
background: hsla(239, 94%, 14%, 1);
background: linear-gradient(90deg, hsla(239, 94%, 14%, 1) 0%, hsla(190, 68%, 50%, 1) 100%);
background: -moz-linear-gradient(900deg, hsla(239, 94%, 14%, 1) 0%, hsla(190, 68%, 50%, 1) 100%);
background: -webkit-linear-gradient(90deg, hsla(239, 94%, 14%, 1) 0%, hsla(190, 68%, 50%, 1) 100%);
}


.alert {
  position:relative;
  padding:12px;
  opacity:1;
  z-index:500;
  border:solid 3px var(--btm-white-100);
  background-color:#fff;
  transition: all ease-in-out 800ms;
}

.alert h3{
  margin: 0;
  font-family: Georgia;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.alert p{
  font-size:13px;
}

.hide-alert{
  opacity:0;
  display:none;
}

.step-display{
  display: flex;
  top: 50px;
  right: 12px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 4px 8px;
  font-weight: 600;
  background-color: #fff;
  position: absolute;
  border-radius: 0 0 7px 7px;
  justify-content: center;
  align-content: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  animation: stepsEntry .6s forwards ease-out;
  animation-delay: 1s;
  opacity:0;
}

@keyframes stepsEntry {
  from {
      right: -200px; /* Start position outside of the screen */
      opacity:0;
  }
  to {
      right: 60; /* End position at the right edge of the screen */
      opacity:1;
  }
}

.flash{
  color:#f44;
}

/* speech bubbles */
.speech-bubble {
	position: relative;
	background: #02219c;
  color:#fff;
	border-radius: .4em;
  top: 451px;
  width: 180px;
  left: 120px;
  padding: 6px 12px;
  font-size: 15px;
  transition: all ease-in-out var(--btm-transition-200);
  z-index: 100;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 1px;
	left: 50%;
	width: 0;
	height: 0;
	border: 35px solid transparent;
	border-top-color: #02219c;
	border-bottom: 0;
	border-left: 0;
	margin-left: -17.5px;
	margin-bottom: -35px;
}

.bubble-close{
  text-align: right;
  position: absolute;
  right: 5px;
}

#the-prospect{
  height:555px;
  transition: all ease-in-out var(--btm-transition-200);
  cursor: pointer;
  overflow:hidden;
  overflow: hidden;
  box-shadow: 0 0 12px 250px #00000055;
}

.prospect-more{
  height:520px!important;
}




  /* animations */

  .hidden {
    transform:translateX(-100%);
    transition: all .5s ease-out;
  }
  
  .visible {
    transform:translateX(0%);
    transition: all .5s ease-out;
  }



  @keyframes fadeInZoom {
    0% {
      opacity: 0;
      scale: 6;
    }
    100% {
      opacity: 1;
      scale: 1
    }
  }
  .fadeInZoom-animation {
    animation: ease-out .6s fadeInZoom;
  }

  @keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  .fadeInUp-animation {
    animation: 1.5s fadeInUp;
  }


  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .fadeIn-animation {
    animation: 1.5s fadeIn;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .fadeOut-animation {
    animation: 1.5s fadeIn;
  }

.hide{
  display:none;
}

  .pulsating-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 30px;
    height: 30px;
  }
  .pulsating-circle:before {
    content: "";
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #01a4e9;
    -webkit-animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
            animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }
  .pulsating-circle:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -webkit-animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
            animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  }
  
  @-webkit-keyframes pulse-ring {
    0% {
      transform: scale(0.33);
    }
    80%, 100% {
      opacity: 0;
    }
  }
  
  @keyframes pulse-ring {
    0% {
      transform: scale(0.33);
    }
    80%, 100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes pulse-dot {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
  }
  @keyframes pulse-dot {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
  }




  .frameRock{animation: aniFrameRock 20s linear 1s infinite normal forwards;}
  
  @keyframes aniFrameRock {
    0%,
    100% {
      transform: rotate(0);
    }
  
    10%,
    30%,
    50%,
    70% {
      transform: rotate(-2deg);
    }
  
    20%,
    40%,
    50% {
      transform: rotate(2deg);
    }
  
    60% {
      transform: rotate(-3deg);
  
    }
  
    90% {
      transform: rotate(3deg);
  
    }
  }

  a.backlink{
    display:inline-block;
    color:#b5b5b5;
    font-size:12px;
    margin-top:24px;
    text-decoration: none;;
  }

  p.splash-intro-text{
    font-family: Quicksand;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.4;
    color: var(--btm-white-100);
    padding: 0 15px;
  }

  p.splash-intro-text span{
    font-size: 20px;
    font-weight: 300;
  }

  .logo{
      transition: all ease-in-out 4s; 
      opacity:1; 
    }

  .logo-zoom{
    transform: scale(12);
    opacity:1;
  }

  .onboard-logo{
    text-align: center;
  }
  .onboard-logo img{
    width:60%;
  }

  .onboard-text{
    color:#ffffffcc;
    font-weight:400;
    font-size:18px;
    margin:0;
    font-family:"Quicksand",Arial, Helvetica, sans-serif;
  }

  .team-wrap{
    display: flex;
    margin: 24px 0 24px 0;
    border-radius: 7px;
    background-color: #ffffff2a;
    padding: 24px 24px;
    flex-direction: column;
    gap: 24px;
  }

  .team-wrap input{
    border:solid 1px var(--btm-footer-100);
    padding: 6px;
    font-family: 'Quicksand';
    font-size: 20px;
    font-weight: 600;
    background-color: #f9f5d4;
    border-radius: var(--btm-radius-100);
  }

  .info-box{
    display:flex;
    margin:24px 0 24px 0;
    border-radius: 7px;
    background-color: #ffffff2a;
    padding: 0;
  }
  .info-box .dr-green{
    margin:-6px 8px 0 -6px;
    flex-shrink: 0;
  }
  .info-text p{
    color:#ffffffcc;
    font-weight: 100;
    font-size: 15px;
    font-family:"Quicksand",Arial, Helvetica, sans-serif;
    text-align:left;
    padding-right:16px;  
    line-height:1.2;
  }

  .info-text p small{
    color: #ffffff77;
    font-size: 12px;
    display: inline-block;
    line-height: 16px !important;
  }




  /* Style for desktop */
  @media (min-width: 600px) and (max-width: 2280px){
    body{
      width:480px !important;
    }
    .grunge-100 {
      background-size: 480px;
      background-repeat: repeat-y;
      background-position-x: left;
    }
    #controls {
      left: 400px;
    }
    .animated-element {
      border-radius:1800px;
    }
    .animated-element {
      border-radius:1800px;
    }
    
    
  }
  
  